*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
     justify-content: center;
}

.containerr{
    min-height: 100vh;
    max-width: 900px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSoTZ5E9PxejFLmc4BGBSeZ3XGKOywjDqgTIQ&s);
    margin:0 auto ;
    padding-top: 120px;
    display: flex;
    justify-content: center;
}

.card{
    max-width:90% ;
      min-height:500px ;
    background-color: rgb(38, 35, 56);
    margin: 0 auto;
     border-radius:1%;
    display: flex;
    color: white;
 justify-content: center !important;

}

img{
    transform: rotate(20deg);
    margin-left: -40px !important;
    max-width: 1100px !important;
    /* min-height: 600px ; */
  
}
 
.shoes{
    max-width: 400px;
    height: 600px;
    background-color: rgb(252, 128, 11);
    border-radius: 0% 50% 50% 0;
    margin-right: 50px;
    display: flex;
    justify-content: center;
}


 .text{
    max-width: 400px;
    min-height: 500px;
    /* background-color: aqua !important; */
  
  
 }

.headicon{
    display: flex;
    max-width: 100%;
    height: 10vh;
    /* background-color: bisque; */
      padding: 1em;
}

.headicon .icon{
    margin-left:150px ;
}

.dollar{
    display: flex;
    gap: 10px;
    padding-top: 1rem;
    margin-right: 240px;
}

.sneaker{
padding-top:  1rem;
}

.winter{
    padding: 3rem 1rem 0 0.5rem;
}

.size{
    display: flex;
    gap: 15px;
    padding-top:  2rem;
    margin-right: 150px;
}

.color{
    display: flex;
     gap: 15px;
     padding-top:  2em;
     margin-right: 150px;
}

.buy{
     display: flex;
     gap: 15px;
     padding-top:  2rem;
       margin-right: 100px;
}
 




/* ///////////////////////////////////////////// */

@media(max-width:780px){
  .containerr{
    padding: 0;
  }
  
    
    .card{
        flex-direction: column;
          height: 130vh;
          width: 100%;
          justify-content: center !important;
          
    }
   .shoes{
    width: 100%;
    border-radius: 0 0 50% 50%;
    padding: 1em;
    height: 400px !important;
    margin: 0;
   } 
   .text{
    width: 100%;
    padding: 2em !important;
   }
    .headicon{
        flex-direction: column !important;
        /* background-color: rgb(39, 63, 63); */
        height: 170px;
        
    }

    .shoes img{
        width: 100% !important ;
    }

  .dollar{
    margin: 0;
  }
  
 .size{
    margin: 0;
  }

   .color{
    margin: 0;
  }



}






























